body {
  font-family: 'Nunito-Regular';
  font-size: 16px;
  line-height: 24px;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.btn {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.about_title {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
}

.about_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.title {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
}

.cards_item_name,
.cards_item_position,
.cards_item_mail,
.cards_item_phone {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.post_input_label {
  font-size: 12px;
  line-height: 14px;
}
