@font-face {
  font-family: 'Nunito-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('./src/sass/fonts/Nunito-Regular.ttf') format('ttf');
  src: url('./src/sass/fonts/Nunito-Regular.eot') format('eot');
  src: url('./src/sass/fonts/Nunito-Regular.woff') format('woff');
}
