.btn {
  width: 100px;
  height: 34px;
  background-color: $btn-color;
  border-radius: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: all 0.5s;
  color: rgba(#000, 0.5);
  border: none;
  cursor: pointer;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(#000, 0.6);
    color: rgba(#000, 1);
    background-color: $btn-active-color;
  }

  &--long {
    width: 120px;
  }

  &Inactive {
    background-color: #b4b4b4;
    color: #fff;

    &:hover {
      color: #fff;
      background-color: #b4b4b4;
    }
  }
}
