.about {
  width: 1170px;
  position: relative;
  height: 650px;
  @media screen and (max-width: 1200px) {
    & {
      width: 100%;
    }
  }

  &_bg {
    position: absolute;
    z-index: -1;
    height: 100%;
    @media screen and (max-width: 1200px) {
      & {
        height: 650px;
        width: 100%;
      }
    }
    @media screen and (max-width: 930px) {
      & {
        height: 500px;
      }
    }
  }

  &_content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &_title {
    margin: 0 0 21px 0;
    padding: 164px 0 0 0;
    text-align: center;
    width: 380px;
    color: #fff;
    @media screen and (max-width: 930px) {
      & {
        padding: 89px 0 0 0;
      }
    }
    @media screen and (max-width: 730px) {
      & {
        width: 328px;
      }
    }
    @media screen and (max-width: 730px) {
      & {
        padding: 40px 0 0 0;
      }
    }
  }

  &_text {
    width: 380px;
    color: #fff;
    text-align: center;
    margin: 0 0 32px 0;
    @media screen and (max-width: 730px) {
      & {
        width: 328px;
      }
    }
  }
}
