.get {
  width: 1170px;
  margin: 140px 0 140px 0;
  @media screen and (max-width: 1200px) {
    & {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  @media screen and (max-width: 930px) {
    & {
      margin: -10px 0 140px 0;
    }
  }

  .title {
    margin: 0 0 50px 0;
    text-align: center;
    @media screen and (max-width: 730px) {
      & {
        width: 328px;
      }
    }
  }

  .err {
    text-align: center;
    margin: 20px 0 20px 0;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 370px);
    gap: 29px;
    margin: 0 0 51px 0;
    @media screen and (max-width: 1200px) {
      & {
        grid-template-columns: repeat(3, 282px);
        margin: 0 60px 51px;
      }
    }
    @media screen and (max-width: 930px) {
      & {
        grid-template-columns: repeat(2, 344px);
        margin: 0 32px 51px;
        gap: 16px;
      }
    }
    @media screen and (max-width: 730px) {
      & {
        grid-template-columns: repeat(1, 328px);
      }
    }
    @media screen and (max-width: 730px) {
      & {
        gap: 20px;
      }
    }

    &_item {
      border-radius: 10px;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      transition: all 0.5s;
      &:hover {
        transform: scale(1.05);
        box-shadow: 0px 15px 20px rgba(#000, 0.4);
      }

      &_img {
        border-radius: 50%;
        margin: 0 0 20px 0;
      }

      &_name {
        margin: 0 0 20px 0;
      }
      &_mail {
        color: #000;
        text-decoration: none;
      }
    }
  }
}
