.post {
  margin: 0 0 100px 0;
  @media screen and (max-width: 730px) {
    & {
      width: 328px;
    }
  }
  .title {
    @media screen and (max-width: 730px) {
      & {
        width: 328px;
        text-align: center;
      }
    }
  }

  &_form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &_input {
    margin: 50px 0 0 0;
    width: 380px;
    height: 54px;
    padding: 14px 16px;
    border: 1px solid #d0cfcf;
    border-radius: 4px;
    background-color: #f8f8f8;
    @media screen and (max-width: 730px) {
      & {
        width: 328px;
      }
    }

    &:focus {
      outline: none;
    }

    &_label {
      margin: 4px 0 25px 30px;
      width: 380px;
      color: #7e7e7e;
      @media screen and (max-width: 730px) {
        & {
          margin: 4px 0 25px 85px;
        }
      }
      @media screen and (max-width: 730px) {
        & {
          width: max-content;
          margin: 4px 0 25px 0;
          transform: translateX(-80px);
        }
      }
    }
  }

  &_radios {
    width: 380px;
    margin: 0 0 46px 0;
    @media screen and (max-width: 730px) {
      & {
        width: 328px;
      }
    }

    &_item {
      margin: 10px 0 0 0;
      display: flex;
      align-items: center;
    }

    &_item input {
      visibility: hidden;
      width: 20px;
      height: 20px;
    }

    &_item label {
      margin: 0 0 0 12px;
    }

    &_item input[type='radio']:after {
      cursor: pointer;
      width: 18px;
      height: 18px;
      border-radius: 15px;
      top: -1px;
      left: 0px;
      position: relative;
      background-color: transparent;
      content: '';
      display: inline-block;
      visibility: visible;
      border: 1px solid #d0cfcf;
    }

    &_item input[type='radio']:checked:after {
      cursor: pointer;
      width: 12px;
      height: 12px;
      border-radius: 15px;
      top: 0px;
      left: 0px;
      position: relative;
      background-color: #00bdd3;
      content: '';
      display: inline-block;
      visibility: visible;
      border: 4px solid #fff;
      box-shadow: 0 0 0px 2px #00bdd3;
    }
  }

  &_text {
    margin: 0 0 11px 0;
  }

  &_img {
    visibility: hidden;
    margin: 0 0 25px 0;
  }

  &_file {
    &_wrp {
      display: flex;
    }
  }

  &_btn {
    border: 1px solid #000;
    border-radius: 4px 0 0 4px;
    padding: 14px 15px;
    cursor: pointer;
    @media screen and (max-width: 730px) {
      & {
        width: 83px;
      }
    }
  }

  .input_wrp {
    position: relative;
    .label {
      padding: 0;
      position: absolute;
      bottom: 16px;
      left: 16px;
      background-color: #f8f8f8;
      transition: all 0.5s;
    }
    .name {
      position: absolute;
      color: $c-invalid;
      font-size: 12px;
      margin: 0 0 0 5px;
    }
  }

  .touched .label {
    transform: translateY(-27px);
  }

  .img_label {
    color: $c-invalid;
    transform: translateX(-110px);
    font-size: 12px;
  }

  &_placeholder {
    width: 297px;
    border-top: 1px solid #d0cfcf;
    border-right: 1px solid #d0cfcf;
    border-bottom: 1px solid #d0cfcf;
    border-radius: 0 4px 4px 0;
    padding: 14px 14px;
    cursor: pointer;
    @media screen and (max-width: 730px) {
      & {
        width: 245px;
        padding: 14px 15px;
      }
    }
  }
}
